@import url('https://fonts.googleapis.com/css2?family=azeret+Neue&family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@600&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './styles/variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  background-image: url(/images/stardust.png);
  background-color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  color: $pink;
  background-color: $black;
  padding: 0.25rem;
  margin: 0 0.25rem 0 0.25rem;
  font-family: $lato;
  font-weight: bolder;
  min-width: 8rem;
  border-radius: 0.25rem;
  cursor: pointer;

  &:hover {
    background-color: $blackOpaque;
  }
}

input {
  flex-grow: 1;
  border: 2px solid $pink;
  color: $white;
  background-color: $black;
  padding: 0.15rem;
  &:focus {
    outline: none;
  }
}

#edit {
  position: absolute;
  z-index: 999;
  right: 1rem;
  bottom: 0rem;
  cursor: pointer;
  color: $pink;
}

#file__input {
  display: none;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
#spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px $slateOpaque;
  border-bottom-color: $pink;
  border-radius: 50%;
  content: '';
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}
