/* FONTS */
$azeret: 'Azeret Mono', monospace;
$bebas: 'bebas neue', sans-serif;
$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;
$reg: 400;
$bold: 700;

/* COLORS */
$white: white;
$black: #1d1e1d;
$blackOpaque: #1d1e1f76;
$slate: #2b4b58;
$slateOpaque: #3a616f76;
$pink: #f16979;
$yellow: #fec859;
